<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message.message_id %>
</p>



<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Center:</strong>
  <%= @message.center_id %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @message.sponsor_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
