<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @child.child_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @child.sponsor_id %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
