<p id="notice"><%= notice %></p>

<p>
  <strong>Sponsor:</strong>
  <%= @sponsor.sponsor_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @sponsor.location %>
</p>

<p>
  <strong>Child:</strong>
  <%= @sponsor.child_id %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
